<div *ngIf="isLoading">Carregando...</div>

<div *ngIf="!isLoading && lavajato">
  <h2>{{ lavajato.nome }}</h2>
  <img [src]="lavajato.imagemUrl" alt="Imagem do Lava Jato" width="100%" style="max-width: 400px; border-radius: 12px;">
  <p><strong>Endereço:</strong> {{ lavajato.endereco }}</p>
  <p><strong>Telefone:</strong> {{ lavajato.telefone }}</p>
  <p><strong>Avaliação:</strong> {{ lavajato.avaliacao }}/5</p>
</div>

<div *ngIf="errorMessage" style="color: red;">
  {{ errorMessage }}
</div>
